Repository dockstore/dockstore, pull requests merged in 2020-07, with the labels that each got.

#3631 Feature/3455/progress towards lazy sourcefiles
  dockstore-integration-testing/src/test/java/io/dockstore/client/cli/GeneralIT.java
  dockstore-webservice/src/main/java/io/dockstore/webservice/DockstoreWebserviceApplication.java
  dockstore-webservice/src/main/java/io/dockstore/webservice/core/Tool.java
  dockstore-webservice/src/main/java/io/dockstore/webservice/core/Version.java
  dockstore-webservice/src/main/java/io/dockstore/webservice/core/database/VersionVerifiedPlatform.java
  dockstore-webservice/src/main/java/io/dockstore/webservice/jdbi/VersionDAO.java
  dockstore-webservice/src/main/java/io/dockstore/webservice/resources/EntryResource.java
  dockstore-webservice/src/main/resources/openapi3/openapi.yaml
Labels: enhancement

#3627 Improved logging in web service
  dockstore-integration-testing/src/test/java/io/dockstore/common/CommonTestUtilities.java
  dockstore-webservice/src/main/java/io/dockstore/webservice/DockstoreWebserviceApplication.java
  dockstore-webservice/src/main/java/io/dockstore/webservice/helpers/BitBucketSourceCodeRepo.java
  dockstore-webservice/src/main/java/io/dockstore/webservice/helpers/GitHubSourceCodeRepo.java
  dockstore-webservice/src/main/java/io/dockstore/webservice/helpers/GitLabSourceCodeRepo.java
  dockstore-webservice/src/main/java/io/dockstore/webservice/helpers/QuayImageRegistry.java
  dockstore-webservice/src/main/java/io/dockstore/webservice/languages/CWLHandler.java
  dockstore-webservice/src/main/java/io/dockstore/webservice/languages/LanguageHandlerInterface.java
Labels: enhancement, operations, web-service

#3651 3632 add descriptor type column
  dockstore-integration-testing/src/test/java/io/dockstore/client/cli/GeneralIT.java
  dockstore-integration-testing/src/test/java/io/dockstore/client/cli/LimitedCRUDClientIT.java
  dockstore-webservice/src/main/java/io/dockstore/webservice/core/DescriptorTypeConverter.java
  dockstore-webservice/src/main/java/io/dockstore/webservice/core/Tool.java
  dockstore-webservice/src/main/java/io/dockstore/webservice/helpers/AbstractImageRegistry.java
  dockstore-webservice/src/main/java/io/dockstore/webservice/resources/HostedToolResource.java
  dockstore-webservice/src/main/resources/migrations.1.10.0.xml
  dockstore-webservice/src/main/resources/openapi3/openapi.yaml
  propose_migration.sh
Labels: enhancement

#3693 Feature/3574/update admin curator status
  dockstore-integration-testing/src/test/java/io/dockstore/webservice/UserResourceIT.java
  dockstore-webservice/src/main/java/io/dockstore/webservice/api/PrivilegeRequest.java
  dockstore-webservice/src/main/java/io/dockstore/webservice/resources/UserResource.java
  dockstore-webservice/src/main/resources/openapi3/openapi.yaml
Labels: enhancement, web-service
